.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-bar
{
  display: flex;
  margin: 1.5%;
}
.nav-app-name
{
  color: blueviolet;
}
.nav-page-name
{
  margin-top:2.0% ;
  margin-left:0.6em;
}
.card-banner
{
  margin-top: 0.5rem;
  width: 100vw;
  height: 75vh;
  position: relative;
  color: antiquewhite;
}
.banner-img
{
  height: 75vh;
}
.card-info
{
  position: absolute;
  top:70%;
  overflow: auto;
}
.movielist-banner
{
  width: 30vw;
  height: 50vh;
  margin: 10px;
}
.movielists
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(139, 13, 236);
}
.moviebanner-img
{
  width: 30vw;
  height: 50vh;
}
.movie-info
{
  position: absolute;
  top:50px;
}
.pag-nav
{
  display: flex;
  justify-content: center;
}
.fav-gen
{
  padding: 3rem;
}
.fav-mov
{
  padding: 3rem;
}
.main{
  overflow: auto;
}
@media screen and (max-width:520px) {
  .nav-bar{
    margin: 10%;
  }
  .card-banner
{
  height: 36vh;
}
  .banner-img
{
  height: 36vh;
}
.card-info
{
  height: 20vh;
  position: absolute;
  top:10%;
}  
}
@media screen and (max-width:720px) {
  .card-info{
    height: 25vh;
    position: absolute;
    top: 50%;
  }
}
@media screen and (max-width:1145px) {
  .card-info{
    height: 25vh;
    position: absolute;
    top: 65%;
  }
}
@media screen and (max-width:810px) {
  .card-info{
    height: 25vh;
    position: absolute;
    top: 60%;
  }
}
@media screen and (max-width:520px) {
  .card-info{
    height: 12vh;
    overflow: auto;
  }
}
@media screen and (max-width:200px) {
.nav1{
  font-size: 10vw;
}
}
